/************->VARIABLES*********<-*/
:root {
    --primary-color: rgb(32, 33, 36);
    --color-black:#000;
    --secondary-color: rgb(138, 180, 248);
    --main-text-color:rgb(154, 160, 166);
    --color-grey-light: rgb(228, 232, 238);
    
    --default-transition:all .3s;
    --basic-shadow:0 1px 5px 0 rgba(84,84,84,0.2), 0 2px 2px 0 rgba(84,84,84,0.2), 0 3px 1px -2px rgba(84,84,84,0.2);
}   
/*------------------------------------*/


/************->FONTS*********<-*/
/*------------------------------------*/

/************->GENERAL*********<-*/

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-size: 1.6rem;
    box-sizing: border-box;
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    padding: 2rem;
    background: var(--color-grey-light);
}

a,
a:hover{text-decoration: none;}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 3rem;
}

label{margin-bottom: 0;}

.bg-secondary-color{background-color: var(--secondary-color);}
.secondary-color{color: var(--secondary-color);}

/*------------------------------------*/

/* Index */

.main-card{
    min-height: 96vh;
    background: var(--primary-color);
    border-radius: 7px; 
    padding-bottom: 1rem;
}

.navbar{
    z-index: 1000;
    background: var(--primary-color);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    position: relative;
}

.navbar ul li{padding: 1rem;}

.img-profil{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}

.divider{
    width: 10rem;
    height: .4rem;
    background:var(--secondary-color);
}

.divider + h3,
.box-form a
{color: var(--secondary-color);}

.divider + h3{margin-bottom: 2rem;}

.group-tchat-card{
    position: relative;
    min-height: 25rem;
    background: var(--color-grey-light);
    border-radius: 7px;
    max-width: 35rem;
    margin: 0 auto;
    padding: 1rem;
}

.group-tchat-info h3,
.pseudo
{color: var(--secondary-color);}

.group-tchat-info h4{color: var(--color-dark);}

/* Profil */

.profil-banner{
    border: none;
    box-shadow: var(--basic-shadow);
    padding: 1.6rem;
}

.profil-banner > img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

.profil-banner p{
    font-weight: bold;
    margin-bottom: 0;
}

.btn-edit,
.btn-response{
    padding: .5rem 2rem;
    font-size: 1.7rem;
    border: none;
    cursor: pointer;
    transition: var(--default-transition);
}

.btn-edit{
    color: var(--primary-color);
    background: var(--color-grey-light);
}

.btn-response{
    background: var(--secondary-color);
    color:var(--white);
}

.btn-response:hover{box-shadow: 0 1px 5px 0 var(--white), 0 2px 2px 0 var(--white), 0 3px 1px -2px var(--white);}
.btn-edit:hover{box-shadow: 0 1px 5px 0 var(--white), 0 2px 2px 0 var(--white), 0 3px 1px -2px var(--white);}

.btn-edit:focus{outline-color: var(--primary-color);}
.btn-response:focus{outline-color: var(--white);}


.input-edit,
.response textarea{
    border: 1px solid var(--color-grey-light);
    width: 100%;
    font-size: 1.7rem;
    padding: .3rem .5rem;
    margin-bottom: 1.5rem;
    transition: var(--default-transition);
}

.input-edit:focus,
.response textarea:focus{outline-color: var(--secondary-color);}

.box-main-question{
    max-height: 40rem;
    overflow: auto;
    border:none;
    box-shadow: var(--basic-shadow);
    padding: 1rem;
    margin-bottom: 4rem;
}

.box-main-question .title{
    font-size: 4rem;
    color: var(--secondary-color);
    transition: var(--default-transition)
}

.box-main-question a > .title:hover{text-decoration: underline;}

.box-main-question p,
.box-main-question small,
.box-form span,
.profil-banner p,
.box-response p,
.box-response small,
label
{color: var(--main-text-color);}


.box-response,
.response{width: 80%;}

.box-response{
    margin: 1.5rem auto;
    padding: 1rem 2rem;
    border-bottom: 2px solid var(--secondary-color);
    border-radius: 15px;
    position: relative;
}

.user > img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.response{margin: 0 auto;}

.response textarea{width: 100%;}

/* login */

.box-form{
    padding: 1rem;
    width: 40vw;
    box-shadow: var(--basic-shadow);
}

@media screen and (max-width:760px){
    .box-response,
    .response{width: 100%;}

    .box-form{width: 95%;}

    .profil-banner,
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .profil-banner{text-align: center;}
    
    .profil-banner > img{margin:1rem 0 !important;}
}